body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#container{
    background-image: url(./images/bk1.png);
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
h2, label, p{
    color: darkblue;
    margin: 8px 0;
}
input{
    width: calc(100% - 16px);
    padding:8px;
    box-sizing: border-box;
    margin-top:20px;
    border: 2px, solid, white;
    border-radius: 10px;
    background-color: whitesmoke;
}
button{
    background: brown;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    margin-top: 20px;
    width:100px;
    font-size: 15px;
}
button:hover{
    background: white;
    color:brown;
}
#temp p{
    font-size: 30px;
    margin-top: -30px;
}
#info{
    font-size: 20px;
}
#icon{
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    display: none;
}
#hourlyForecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.hourlyItem{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: darkblue;
}
.hourlyItem img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
#hourlyHeading{
    color: darkblue;
    margin-top: 10px;
}


#modal div{
	width: 300px;
	gap: 0.5rem;
}

#modal{
	z-index: 3;
    margin: 0 auto;
    padding: 10px;
    position: relative;
	width: 300px;
	height: 300px;
    border-radius: 10px;
	overflow: visible;
	background-color: rgba(8, 26, 99, 0.476);
    backdrop-filter: blur(10px);
}
#modal p{
    color: white;
}

#modal.hidden{
	display: none;
}

#closeModal{
	display: block;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

#closeModal svg{
	display: block;
	stroke: white;
	stroke-width: 2;
	width: 44px;
	height: auto;
}
